body{
	background-image: url(../img/meduzi.jpg);
	background-size: cover;
	margin: 0;
}
a{
	color: #d7d7d7;
}
.zagolovok{
	background-color: rgba(76, 76, 76, 0.5);
	margin: 0;
	padding: 25px 0px 25px 30px;
}
.flag{
	width: 8%;
	border: 1px solid #123131;
}
.nazvanie{
	font-size: 35px;
	font-family: 'Rubik Mono One', sans-serif;
	color: #d7d7d7;
	margin: -88px 0px 0px 170px;
}
.telefon{
	font-size: 25px;
	font-family: 'Rubik Mono One', sans-serif;
	color: #d7d7d7;
	margin: -65px 35px 0px 0px;
	text-align: right;
}
.butt{
	font-size: 25px;
	font-family: 'Rubik Mono One', sans-serif;
	color: #fff;
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#4fb5c3), to(#252d2d));
	background-color: rgba(88, 177, 185, 0.85);
	border-radius: 10px 10px 10px 10px;
	margin: 0px 0px 0px 0px;
	padding: 9px 23px 9px 23px;
}
.but{
	margin: -75px 0px 0px 46%;
}
.butt:hover {
	background: -webkit-gradient(linear, 0 0, 0 100%, from(#81dae6), to(#2b5a61));
	background-color: rgba(88, 177, 185, 0.85);
	cursor: pointer;
}
.text{
	background-color: rgba(76, 76, 76, 0.5);
	margin: 75px 1200px 0px 50px;
	padding: 10px 10px 10px 10px;
	border-radius: 10px;
}
.samtext{
	font-size: 25px;
	font-family: 'Rubik Mono One', sans-serif;
	color: #d7d7d7;
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
.textdva{
	background-color: rgba(76, 76, 76, 0.5);
	margin: -2800px 200px 0px 5000px;
	padding: 2800px 0px 0px 0px;
	border-radius: 50px;
}
.samtextdva{
	font-size: 30px; 
	font-family: 'Rubik Mono One', sans-serif;
	color: #d7d7d7;
	margin: -2800px 0px 0px 0px;
	padding: 100px 100px 100px 100px;
}
.joyka{
	background: url(../img/BB.png) no-repeat;
	margin: -675px 0px 0px 1550px;
	padding: 681px 0px 0px 0px;
}
.joy{
	margin: -435px 0px 0px -75px;
	padding: 0px 0px 0px 0px;
	color: #111;
	transform: rotate(-90deg);
	font-size: 80px; 
	font-family: 'Rubik Mono One', sans-serif;
	font-weight: bold;
}
.jo{
	font-size: 100px; 
	font-family: 'Ravi Prakash', cursive;
	color: red;
	text-decoration: underline;
	text-shadow: 1px 1px 2px black, 0 0 1em red;
}
.jon{
	font-size: 60px; 
	font-family: 'Baloo', cursive;
	color: green;
	text-decoration: underline;
	text-decoration-style: wavy;
	text-shadow: 1px 1px 3px black, 0 10px 0.3em green;
}